@font-face
{
    font-family: 'PoliceRaleway';
    src:url('Police/Raleway-Regular.ttf');
}
@font-face
{
    font-family: 'PoliceRalewayBold';
    src:url('Police/Raleway-Bold.ttf')
}

body
{
    font-family: 'PoliceRaleway';
    font-size: 15px;
}
 header , main
 {
    width: 1140px;
    margin: auto;
 }



                    /* HEBERGEMENT ACTIVITES SINSCRIRE !!!!!*/

.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.navigation ul
{
    list-style-type: none;
    display: flex;
    text-decoration: none;  
}

.navigation a
{
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-right: 35px;
    padding-top: 20px;
}
.heb a:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid;

}

.act a:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid
}

.sinscrire a
{
    color:#0065FC;
    font-family: 'PoliceRalewayBold';
}
.phrase1
{
    font-family: 'PoliceRalewayBold';
    font-size: 20px;
    padding-bottom: 5px;
}
.phrase2
{
    margin-bottom: 20px;
}


                    /* BARRE DE RECHERCHE */

.search 
{
  width: 50%;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searchTerm 
{
  border: 1px solid #F2F2F2;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchButton 
{
  height: 32px;
  border: 1px solid #0065FC;
  background:  #0065FC;
  text-align: center;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 13px;
}
.wrap
{
    display: flex;
    flex-direction: row; 
}


 .maps 
 {
    border: 1px #F2F2F2 solid;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 8px 0 0 8px;
 }

 


                        /* FILTRES!!!!!!!*/ 

.filtres 
{
    display: flex;
    align-items: center;
    font-family: 'PoliceRalewayBold';

   
}
.filtre 
{
    display: flex;
    margin: 10px;
    align-items: center;
    border: #F2F2F2 2px solid;
    border-radius: 25px;
    width: auto;
    list-style-type: none;
    text-decoration: none; 
    color: black; 
 }

.filtre:hover
{
    background-color: #F2F2F2;
}

.icon
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #DEEBFF 2px solid;
}

.text
{
    padding-left: 10px;
    padding-right: 15px;
}

                          /* barre i !!!*/

.info
{
    border: 2px #F2F2F2 solid;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.info-icone
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icone p
{
    padding-left: 10px;
}

                    /* HEBERGEMENT MARSEILLE !!!!!*/

.container-hebergement-populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-hebergement
{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: #F2F2F2;
    border-radius: 3%;
    width: 63%;
    height: 550px;
    padding: 20px;
    margin-top: 20px;
    
}
.hebergement
{
    background-color: white;
    width: 210px;
    height: 170px;
    border-radius: 15px;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 30px;
    list-style-type: none;
    text-decoration: none; 
    color: black; 
    font-size: 13px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hebergement:hover
{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.hebergement .imghebergement
{
    width: 100%;
    height: 60%;
    background-position: center center;
    background-size: cover;
    border-radius: 15px 15px 0 0;   
}
.titre 
{
    font-size: 20px;
    font-family: 'PoliceRalewayBold';
    margin: 25px;

}
.hotels
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    
}
 .afficher-plus
 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
 }
 
 .hebergement p
 {
     margin-top: 2%;
     margin-bottom: 2%;
     margin-left: 5%;
 }
 
 .hebergement h3
 {
     margin-top: 2%;
     margin-bottom: 2%;
     padding-top: 3%;
     margin-left: 5%;
 }
 
 
 
 .bloc-ecritures-populaires
 {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     padding-left: 15px;
     padding-right: 15px;
 }
 


                        /* POPULAIRES !!!*/

.populaires
{
    background-color: white;
    width: 300px;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
    padding: 4px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none; 
    color: black; 
    font-size: 13px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.populaires:hover
{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.populaires .imgpopulaires
{
    width: 37%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 15px 0 0 15px;
}

.container-populaires
{
    background-color: #F2F2F2;
    width: 29%;
    height: 550px;
    padding: 20px;
    margin-top:  20px;
    border-radius: 3%;

   
}

.hotelspopulaires
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titrelespluspopulaires 
{
   font-size: 20px;
   font-family: 'PoliceRalewayBold';
   margin: 25px;
   display: flex;
   justify-content: space-between;

}

.populaires p
{
    margin-top: 2%;
    margin-bottom: 2%;
}

.populaires h3
{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 3%;
}



                    /* ACTIVITES A MARSEILLE!!!!*/

.activités
{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none; 
    color: black; 
    box-shadow: 0 3px 10px -3px #7e7e7e
}
.activités .imgactivité
{
    width: 100%;
    height: 88%;
    background-size: cover;
}
.activités2 .imgactivité
{
    width: 100%;
    height: 74%;
    background-position: center center;
    background-size: cover;
}


.activités h3
{
    padding-left: 10px;
}

.activités2 h3
{
    padding-left: 10px;
}

.container-activites
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px
}

.toutesactivités
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activités2
{
    background-color: white;
    width: 280px;
    height: 230px;
    border-radius: 30px;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none; 
    color: black; 
    box-shadow: 0 3px 10px -3px #7e7e7e
}


.deux-ensemble
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}                 


                        /* FOOTER !!!!!*/

footer
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
   
}

footer ul 
{
    list-style-type: none;
    padding: 0;
    margin-right: 250px;
}

footer li
{
    margin: 10px;
}

footer a 
{
    font-size: 15px;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.container-footer
{
    display: flex;
   
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    margin: auto;
    width: 1440px;
}

footer
{
    background-color: #F2F2F2;
    width: 100%;
}

               /* couleurs icones */


.fas
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2
}

.icone-maps
 {
    color: black;
 }
.icone-populaires
{
    color:black
}


/* MEDIA QUERIES */

@media (max-width: 1140px)
{
    header, main 
    {
        width: 100%;
    }
}


@media all and (min-width: 600px) and (max-width: 1024px)
{
   
    .container-hebergement-populaires
    {
        display: flex;
        flex-direction: column;
    }
    .container-hebergement
    {
        width: auto;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }
    .hebergement
    {
        margin-left: 15px
    }
    .container-populaires
    {
        width: auto;
        height: auto;
        padding: 20px;
        margin-top: 40px;
    }
    .hotelspopulaires
    {
        display: flex;
        flex-direction: row;
    }
    .populaires
    {
        width: 250px;
        margin: auto;
    }
    .toutesactivités
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .deux-ensemble
    {
        display: flex;
        flex-direction: row;
    }
    .activités
    {
        margin: 20px;
        height: 230px;
        margin-right: 0px;
    }
    .activités .imgactivité
    {
        height: 74%;
    }
    .activités2
    {
        margin: 20px;
    }
    .container-footer
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .container-footer ul 
    {
        margin-right: 10px;
    }
}

@media all and (min-width: 375px) and (max-width: 600px)
{
    .container-hebergement-populaires
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .container-hebergement
    {
        background-color: white;
    }
    .populaires
    {
        width: 400px;
    }
    .hebergement
    {
        width: 400px;
    }
} 
